html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial,sans-serif;
    margin: 0;
}
/* ------------ Main Header ------------- */
header{
    background-image: url("img/background2.jpg");
    color: white;
    padding: 12px;
}
/* ------------ Main Navigation ------------- */
nav{
    background-color: black;
    padding: 5px;
    box-shadow: 0 0 10px black;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 25px;
    display: inline-block;
}
nav a:hover{
    background-color: #b43a2b;
}
nav a.active{
    background-color: darkred;
}
/* ------------ Sidebar ------------- */
aside{
    background-image: url("img/background2.jpg");
    float: left;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 10px black;
    position: sticky;
    top: 0;
    height: 700px;
}
aside a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 25px;
}
aside a:hover{
    background-color: #b43a2b;
}

/* ------------- tutorial Section ------------ */
section{
    margin-left: 250px;
}
section article{
    margin-left: 20px;

}
article h2{
    padding-top: 10px;
    color: darkred;
    font-size: 35px;
}
article p{
    font-size: 20px;
    color: gray;
}

/* ---------------- Main footer ---------------- */
footer{
    margin-left: 250px;
    background-image: url("img/background2.jpg");
    padding: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px black;
}